[user]
	email = git@studiotapal.es
	name = jdiazbasgit
[core]
	longpaths = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	dfgsdfgsdf
	sdfgsdfgsfd
	sdfgsdfgsfdsdfg
	dsafgsdfg
	sdfgsdfgsfd
